<!DOCTYPE html>

<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Выбор образовательной траектории</title>
  <link type="text/css" href="{{ url_for('static', filename='css/cssfile.css')}}" rel="stylesheet" />

</head>


<body>

<div class="container">

  <div class="row">

    <div class="tm-left-right-container">

      <!-- Left column: logo and menu -->

      <div class="tm-blue-bg tm-left-column">

        <div class="tm-logo-div text-xs-center">
          <h1 class="tm-site-name">Выбор образовательной траектории</h1>

        </div>

        <nav class="tm-main-nav">

          <!-- навигация по сайту, меню -->

          <ul class="tm-main-nav-ul">

            <li class="tm-nav-item">
              <a href="index.html" class="tm-nav-item-che">Главная</a>
            </li>

            <li class="tm-nav-item">
              <a href="interactive.html" class="tm-nav-item-link">Дополнительная информация</a>
            </li>
            </li>
            <li class="tm-nav-item">
              <a href="feedback.html" class="tm-nav-item-link">Обратная связь</a>
            </li>

          </ul>

        </nav>

      </div>
            <div class="tm-right-column">

                <div class="tm-content-div">
                    <section id="start" class="tm-section">
                        <h1 id="hey" class="tm-blue-text tm-welcome-title">Результаты по вашему запросу:</h1>
                        <figure class="tm-about-img-container">

                                <img src="https://s0.rbk.ru/v6_top_pics/media/img/8/33/756432798093338.jpg"  height="333" width="500"  class="img-fluid">
                                <figcaption>Антрополог</figcaption>
                            </figure>
                        <figure class="tm-about-img-container">
                                <img src="https://cdni.rt.com/russian/images/2022.01/article/61ebe8f602e8bd425d116654.jpg"  height="333" width="500"  class="img-fluid">
                                <figcaption>Политический деятель</figcaption>
                            </figure>
                        <figure class="tm-about-img-container">
                                <img src="https://vplate.ru/images/article/croppedtop/450-255/2020/02/kto-takoj-sociolog-i-chem-zanimaetsya-1.jpg"  height="333" width="500"  class="img-fluid">
                                <figcaption>Социальный исследователь</figcaption>
                            </figure>
                        <figure class="tm-about-img-container">
                            <img src="https://proforientator.ru/upload/iblock/fbd/fbd9d3f4ddb33e4e5faffbc45ff37e0e.jpg"  height="333" width="500"  class="img-fluid">

                                <figcaption>Менеджер по туризму</figcaption>
                            </figure>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
                    </body>
</html>